/* Base */
body {
  background-color: var(--neutral-900);
  color: var(--neutral-50);
  font-family: var(--font);
}

/* Mobile-first page layout */

.wrapper {
 
  
}


@media (min-width: 768px) {
  .wrapper {

  }


}

@media (min-width: 1280px) {
  .main {
    
    padding: 0 5rem;
  }

  
}